@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 16px;
    font-weight: 500;
    font-family: "JetBrains Mono Nerd Font"; /* "CodeNewRoman Nerd Font Propo" is also good, modern, Inter Nerd Font, JetBrains Mono Nerd Font */
}
window#waybar {
    all: unset;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

window#waybar > box {
    padding: 0;
}

tooltip {
    background:@background;
    color: @color7;
}

#workspaces {
    margin-left: 5px;
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: #848484;
    transition: all .2s ease;
}
#workspaces button.active {
    color: #FFFFFF;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: #FFFFFF;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}
#clock#time {
    margin: 6px 0 6px 0;
}

#tray{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}
#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#bluetooth{
    transition: all .3s ease;
    color:@color7;
    padding: 0 5px 0 0;
}
#network{
    transition: all .3s ease;
    color:@color7;
    padding: 0 0 0 5px;
}

#custom-notification {
    transition: all .3s ease;
}

#custom-notification:hover, #network:hover, #bluetooth:hover, #clock.date:hover, #tray:hover, #clock.time:hover, #custom-audio:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}
